__pycache__/
*.py[cod]
*.egg-info
./dist
MUJOCO_LOG.TXT
/LogDir
#/obsolate
*.ipynb
.ipynb_checkpoints/
**/.vscode/
common/
dreamerV2/
debugEpisodes/
wandb/
200k/
200k_new/
logdir/
.ipynb_checkpoints/
!Action_Goal_Embedder.ipynb
!test_12_23.ipynb